/* For the Whole Page */ 
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: arial, sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;  
}

/* Navigation Bar Section */

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 20px;
    margin-top: 13px;
}

.nav-bar a {

    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    color: rgba(0,0,0, 0.87);
    cursor: pointer;
    padding: 1px 11px;
}

.nav-bar a:hover {
    text-decoration: underline;
    
}

.nav-bar img {
    width: 34px;
    padding: 5px;
    margin: auto 7px;
    cursor: pointer;
}

.nav-bar img:hover {
    
}

.nav-bar button {
    border: 1px solid #4285f4;
    font-weight: bold;
    outline: none;
    background: #3982f8;
    color: #fff;
    padding: 9px 23px;
    border-radius: 5px;
    margin-left: 7px;
    cursor: pointer;
}

.nav-bar button:hover {
    
}

/* Logo Section */

.logo {
    display: block;
    margin: 0px auto;
    margin-top: 11px;
}

/* Form Section */

.section-1{
    flex: 1;
}

.search {
    width: 583px;
    margin: 0 auto;
    position: relative;
    margin-top: -8px;
    text-align: center;
}

.search .seachInput {
    display: block;
    border: 1px solid #ddd;
    color: rgba(0,0,0, 0.87);
    font-size: 16px;
    padding: 13px;
    padding-left: 45px;
    border-radius: 25px;
    width: 100%;
    height: 46px;
    outline: none;
    margin-top: 30px;
}

.search .imgSearch {
    width: 20px;
    opacity: .4;
    position: absolute;
    top: 13px;
    left: 14px;
}

.search .mic {
    width: 20px;
    position: absolute;
    top: 13px;
    right: 14px;
}

.btn {
    border: 1px solid transparent;
    padding: 9px 15px;
    color: rgb(53, 52, 52);
    background: #f8f9fa;
    font-size: 14px;
    border-radius: 4px;
    display: inline-block;
    margin-right: 8px;
    margin-top: 28px;
    outline: none;
    cursor: pointer;
    transition: border-color 100ms;
}

.btn:hover {
    border: 1px solid rgb(209, 208, 208);
}
.lang {
    
    margin-top: 30px;
    text-align: center;
    font-size: 13px;
    color: rgb(85, 84, 84);
}

.lang a {
    margin-left: 9px;
    color: #1a0dab;
}

.lang a:hover {
    text-decoration: underline;
}

/* Footer Section */

.footer {
    background: #f2f2f2;
    position: fixed;
    bottom: 0;
    width: 100vw;
}

.footer h4 {
    color: rgba(0,0,0, 0.54);
    font-size: 15px;
    line-height: 3;
    font-weight: 400;
    padding-left: 29px;
    border: 1px solid #eee;
}

.footer a {
    color: #5f6368;
    display: inline-block;
    padding: 10px 11.3px;
    font-size: 14px;
}

.footer a:hover {
    text-decoration: underline;
}

.links {
    border-top: 1px solid #ddd;
    display: flex;
    justify-self: start;
}

.link-1 {
    padding-left: 20px;
    flex: 3;

}
.link-2 {
   
    flex: 2;

}

.link-3 {
    
    flex: 1;
}

.link-2 .leaf {
    text-decoration: underline;
    width: 12px;
    height: 14px;
    margin: auto 7px;
    cursor: pointer;
}