*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  
  body{
    display: flex;
    flex-direction: column;
    font-family: arial, sans-serif;
    justify-content: center;
  }
  
  
  /* Navigation Bar */
  
  .navBar {
  
  text-align: end;
  vertical-align: middle;
  line-height: 60px;
  
  
  /*border: 2px solid red; to delete */
  }
  
  .apps {
    vertical-align: middle;
    width: 25px;
    height:25px;
    margin-right: 10px;
    opacity: 0.7;
  }
  
  .apps:hover {
    background-color: rgba(31, 32, 32, 0.08);
    border-radius: 60px;
  }
  
  .button {
    background-color: #4386fb;
    font-weight: bold;
    outline: none;
    border: none;
    color: white;
    padding: 7px 13px;
    border-radius: 2px;
    margin-right: 35px;
    cursor: pointer;
    transition-duration: 0.4s;
  }
  
  .button:hover {
    background-color: #4386fb;
    box-shadow: 0 1px 2px 0 rgba(66,133,244,0.3),0 1px 3px 1px rgba(66,133,244,0.15);
  }
  
  .navBar a {
    font-size: 13px;
    text-decoration: none;
    margin: 0 5px;
    color:inherit;
    opacity: 0.9;
  }
  
  .navBar a:hover {
    opacity: 0.8;
    text-decoration: underline;
  }
  
  /* Main Container */
  
  .mainContainer{
    margin-top: 50px;
    justify-content: center;
  }
  
  .logo {
    text-align: center;
    /* border: 2px solid blue; /* to delete */
  }
  
  /* The Input Container */
  
  .inputContainer {
    border: 1px solid #ddd;
    display: flex;
    margin: 0 auto;
  
    margin-top: 23px;
  
    width: 480px;
    height: 45px;
    border-radius: 30px;
    align-items: center;
    padding: 10px;
  
  }
  
  .inputContainer:hover {
    border: 1px solid #ddd;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.05),
                0 0 2px rgba(0, 0, 0, 0.05),
                0 0 3px rgba(0, 0, 0, 0.05),
                0 0 4px rgba(0, 0, 0, 0.05),
                0 0 5px rgba(0, 0, 0, 0.05),
                0 0 4px rgba(0, 0, 0, 0.05),
                0 0 5px rgba(0, 0, 0, 0.05);
  }
  
  .inputContainer .searchIcon {
    width: 30px;
    opacity: .4;
    padding-right: 10px;
  }
  
  .inputContainer .mic {
    width: 22px;
    cursor: pointer;
    
  }
  
  .inputContainer .search {
    flex: 1;
    height: 38px;
    border: none;
    outline: none;
  }
  
  /* Buttons*/
  
  .buttons {
  
    text-align: center;
  }
  
  .buttons .btn {
    border: 1px solid transparent;
    padding: 9px 15px;
    color: rgb(53, 52, 52);
    background: #ecedee;
    font-size: 14px;
    border-radius: 4px;
    display: inline-block;
    margin-right: 8px;
    margin-top: 28px;
    outline: none;
    cursor: pointer;
    transition: border-color 100ms;
  }
  
  .buttons .btn:hover {
    border: 1px solid rgb(209, 208, 208);
  }
  
  /* Paragraph section */
  
  .paragraph {
    margin-top: 30px;
    text-align: center;
    font-size: 14px;
  }
  
  .paragraph a {
    
    text-decoration: none;
    margin: 0 2.7px;
    color: blue;
  }
  
  .paragraph a:hover {
    text-decoration: underline;
  }
  
  /* Footer Section */
  
  .country {
    font-size: 15px;
    color: rgb(128, 125, 125);
    line-height: 30px;
    margin-bottom: 5px;
    vertical-align: middle;
  
    border-bottom: 1px solid darkgrey;
  
  }
  
  .footer {
    padding: 20px;
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: #ddd;
  }
  
  .footer a {
    font-size: 14px;
    text-decoration: none;
    vertical-align: middle;
    color: rgb(128, 125, 125);
  
  }
  
  .footer a:hover {
    text-decoration: underline;
  }
  
  .links {
    display: flex;
    line-height: 30px;
  }
  
  .link1 {
    flex-grow: 1;
  }
  
  .link1 a {
    margin:0 15px;
  }
  
  .link2 {
    flex-grow: 1;
  }
  
  
  
  .link2 .leaf {
    width: 13px;
  }
  
  .link3 {
    flex-grow: 1;
    text-align: end;
  }
  
  .link3 a {
    margin:0 15px;
  }